<form  action="/" method="post" id="IpInput">
    <input id="ip1" type = "text" name = "ip1" placeholder = "ip1" data-required ="true"/>
    <input id="ip2" type = "text" name = "ip2" placeholder = "ip2" data-required ="true"/>
    <button type="submit">Submnit</button>
</form>
<% if (typeof(finalInt) !== 'undefined') {%>
<h2>The size of the range between the two addresses is <%= finalInt %></h2> 
<%
}
%>